body {
  background-color: rgba(210, 210, 210, 0.5);
}

img, embed, object, video {
  max-width: 100%;
}

header {
  top: 0;
  left: 0;
  margin-top: 12px;
  height: auto;
  transition: top 0.2s ease-in-out;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar a {
  display: block;
  text-decoration: none;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 6%;
  border-left: 1px solid rgba(215, 215, 215, 0.4);
  text-align: center;
  color: #666;
  font-weight: 300;
}

.navbar a:hover {
  background-color: #333;
  color: #ddd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.navbar a:active {
  background-color: black;
  color: white;
}

#about section {
  margin-top: 32px;
}

#cont {
  background-color: yellow;
}

.info-box {
  width: 90%;
  height: 2000px;
  margin: 6% auto;
  position: relative;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-shadow: 0 1px 16px 1px #a1a1a1;
}

.info-box h2 {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 2.2em;
  padding: 64px 20%;
  float: left;
}

.info-box h3 {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  padding: 0 10% 4% 10%;
  float: left;
}

.info-box #photo {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  padding: 64px;
  visibility: hidden;
}

.half-space-l {
  width: 35%;
  height: auto;
  float: left;
}

.half-space-l .lbl {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: oblique;
  text-align: right;
  font-size: 1em;
  padding-right: 10%;
}

.half-space-r {
  width: 60%;
  height: auto;
  float: right;
}

.half-space-r p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: oblique;
  text-align: left;
  font-size: 1em;
  padding-left: 10%;
}

.joblogo {
  display: inline-block;
}

.whole_page, html, body {
  height: 100%;
  width: 100%;
}

@media (min-width: 648px) {
  .whole_page header, html header, body header {
    width: 100%;
  }
  .whole_page .navbar li, html .navbar li, body .navbar li {
    float: left;
    width: 20%;
  }
  .whole_page .navbar li a, html .navbar li a, body .navbar li a {
    font-size: 1.2em;
  }
  .whole_page .info-box, html .info-box, body .info-box {
    width: 60%;
  }
  .whole_page .info-box #photo, html .info-box #photo, body .info-box #photo {
    visibility: visible;
  }
}
