.header {
  background: rgba(102, 102, 102, 0.41);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.navbar li {
  float: left;
  width: 20%;
}

.navbar li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  padding: 14px 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #666;
  font-weight: 300;
}

.navbar li a:hover {
  background-color: #333;
  color: #ddd;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
}

.navbar li a:active {
  background-color: black;
  color: white;
}

.body-container {
  background-color: rgba(210, 210, 210, 0.5);
}

.info-container {
  position: fixed;
  width: 800px;
  height: 600px;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -400px;
  background-color: white;
}

.round-shaped-container, .info-container {
  border-radius: 5px;
}

.sup {
  height: 2000px;
  width: 50px;
  background-color: pink;
}
