html, body
  @extend .whole_page

body
  background-color: rgba(#d2d2d2, 0.5)

.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 2

.navbar
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden
  background-color: rgba(255,255,255,.8)

  li
    float: left
    width: 20%

    a
      display: block
      text-decoration: none
      font-size: 1.2em
      font-family: "Helvetica Neue", Helvetica, sans-serif
      padding: 6% 4%
      border-left: 1px solid rgba(#d7d7d7, 0.5)
      text-align: center
      color: #666
      font-weight: 300

    a:hover
      background-color: #333
      color: #ddd
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)

    a:active
      background-color: black
      color: white

.body-container
  @extend .info-box

.about-container
  height: 600px
  background-color: pink

.edu-container
  height: 600px
  background-color: lime

.work-container
  height: 600px
  background-color: purple

.ach-container
  height: 600px
  background-color: lavender

.cont-container
  height: 600px
  background-color: yellow

.info-box
  width: 62%
  height: auto
  margin: 8% auto
  background-color: white
  border: 1px solid rgba(0,0,0,0.1)
  border-radius: 6px
  box-shadow: 0 1px 16px 1px #a1a1a1
  z-index: 1




.whole_page
  height: 100%
  width: 100%
