html, body
  @extend .whole_page

body
  background-color: rgba(#d2d2d2, 0.5)

img, embed, object, video
  max-width: 100%

.header
  position: fixed
  top: 0
  left: 0
  height: 100%
  z-index: 2

.navbar
  list-style-type: none
  margin: 0
  padding: 0
  overflow: hidden
  background-color: rgba(255,255,255,.8)

  a
    display: block
    text-decoration: none
    font-size: 1em
    font-family: "Helvetica Neue", Helvetica, sans-serif
    padding: 6% 4%
    border-left: 1px solid rgba(#d7d7d7, 0.4)
    text-align: center
    color: #666
    font-weight: 300

  a:hover
    background-color: #333
    color: #ddd
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6)

  a:active
    background-color: black
    color: white

@media(min-width: 640px)
  .header
    width: 100%

  .navbar li
    float: left
    width: 20%

    a
      font-size: 1.2em




.body-container
  @extend .info-box

.about-container
  @extend .data-set

.edu-container
  height: 600px
  background-color: lime

.work-container
  height: 600px
  background-color: purple

.ach-container
  height: 600px
  background-color: lavender

.cont-container
  height: 600px
  background-color: yellow

.info-box
  width: 60%
  height: auto
  margin: 6% auto
  background-color: white
  border: 1px solid rgba(0,0,0,0.1)
  border-radius: 6px
  box-shadow: 0 1px 16px 1px #a1a1a1
  z-index: 1

.data-set
  height: 600px

  p
    padding: 20%

.span60
  width: 60%
  height: 100%
  background-color: darkblue

.span40
  width: 40%
  height: inherit
  background-color: magenta

.whole_page
  height: 100%
  width: 100%
