.header {
  height: 2.8rem;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 2rem;
  max-width: 40rem;
  min-width: 20rem;
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.navBar li {
  display: inline;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: #0000005d;
  cursor: pointer;
  transition: 200ms;
}

.navBar li a {
  color: #0000005d;
}


.navBar li:hover {
  box-shadow: 0px -1.6rem 0px 0px #86e8ff inset;
}