@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;

  --main-background-color: #F7F7F7;
  --border-color: #FBFBFB;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #000000;
  --heading-color: #818cab;
  
  --main-background-color: #000000;
  --border-color: #373636;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next,
body > div:first-child,
main {
  height: 100%;
  width: 100%;
  min-width: 396px;
  min-height: 700px;
}

html,
body {
  padding: 16px;
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--bg-color);
}

body {
  overflow-y: hidden;
}

#__next {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-rows: 2.8rem calc(100% - 2.8rem);
  grid-gap: 0.5rem;
  border: 20px solid var(--border-color);
  border-radius: 4px;
  max-width: 1280px;
  background-color: var(--main-background-color);
}

header{
  width: 100%;
}

footer {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(19, 7, 34, 0.91);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 7, 34, 0.91);
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  animation-duration: 0.25s;
}

.fade-in.one {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.fade-in.two {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.three {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 960px) {
  html,
  body,
  #__next,
  body > div:first-child,
  main {
    min-width: none !important;
    min-height: none !important;
  }

  body {
    padding: 4px;
  }

  main {
    background-color: white !important;
    border: none !important;
  }
}

