@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --primary-color: #302AE6;
  --secondary-color: #536390;
  --font-color: #424242;
  --heading-color: #292922;
  
  --body-padding: 1rem;
  --bg-color: #fff;
  --secondary-bg-color: #d2d2d2dd;
  --main-background-color: #F7F7F7;
  --border-color: #FBFBFB;
  --link-color: #0000005d;
  --link-hover: #86e9ff;
  --link-active: #86e9ff80;
  --slider-bg-color: #1a1a1a;
  --project-card-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --project-card-border: 4px solid #ffffff;
  --project-card-bg-color: #FFFFFF;
  --project-card-sub-border: 1px dashed #0000004a;
  --scrollbar-color: rgba(19, 7, 34, 0.91);
  --body-overflow: hidden;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --heading-color: #818cab;
  
  --body-padding: 1rem;
  --bg-color: #000000;
  --secondary-bg-color: #252525dd;
  --main-background-color: #000000;
  --border-color: #373636;
  --link-color: #FBFBFBAA;
  --link-hover: #5c12be;
  --link-active: #5d12be80;
  --slider-bg-color: #dedede;
  --project-card-shadow: none;
  --project-card-border: 4px solid #00000011;
  --project-card-bg-color: #F7F7F7;
  --project-card-sub-border: 1px dashed #000000c3;
  --scrollbar-color: rgba(217, 195, 244, 0.91);
  --body-overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next,
body > div:first-child,
main {
  height: 100%;
  width: 100%;
  min-width: 396px;
  min-height: 700px;
}

html,
body {
  padding: var(--body-padding);
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--bg-color);
}

body {
  overflow-y: var(--body-overflow);
}

#__next {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  grid-template-rows: 4rem 1fr;
  border: 20px solid var(--border-color);
  border-radius: 4px;
  max-width: 1280px;
  background-color: var(--main-background-color);
}

header{
  width: 100%;
  height: 4rem;
  border-bottom: 2px solid var(--border-color);
}

footer {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color)
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.25s;
  -moz-animation-duration: 0.25s;
  animation-duration: 0.25s;
}

.fade-in.one {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.fade-in.two {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in.three {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 960px) {
  
  html,
  body,
  #__next,
  body > div:first-child,
  main {
    min-width: none !important;
    min-height: none !important;
  }

  body {
    padding: 4px;
  }

  main {
    border: none !important;
  }
}

